services:
  traefik:
    labels:
    # Pick a password using the command `htpasswd -nb username password | sed -e 's/\$/\$\$/g'`
    # See https://doc.traefik.io/traefik/setup/docker/#create-the-traefik-dashboard-credentials for
    # more information.
      - "traefik.http.middlewares.dashboard-auth.basicauth.users=username:hash"