services:
  traefik:
    image: traefik:v3.4
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true

    networks:
     # Connect to the 'traefik_proxy' overlay network for inter-container communication across nodes
      - proxy

    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"

    volumes:
      - acme:/acme
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${BASE_PATH}/certs:/certs:ro
      - ${BASE_PATH}/dynamic:/dynamic:ro

    command:
      # Entry Points
      - "--entryPoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      - "--entrypoints.web.http.redirections.entrypoint.permanent=true"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.websecure.http.tls=true"

      # Providers
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=proxy"

      # API and Dashboard
      - "--api.dashboard=true"
      - "--api.insecure=false"

      # Logging and Analytics
      - "--log.level=DEBUG"
      - "--accesslog=true"
      - "--metrics.prometheus=true"
      - "--global.sendAnonymousUsage=true"
      
      # Certificate Resolvers
      - "--certificatesResolvers.letsencrypt.acme.email=admin@abus.sh"
      - "--certificatesResolvers.letsencrypt.acme.storage=/acme/acme.json"
      - "--certificatesResolvers.letsencrypt.acme.httpChallenge.entryPoint=web"

    # Traefik Dynamic configuration via Docker labels
    labels:
      # Enable self‑routing
      - "traefik.enable=true"

      # Dashboard router
      - "traefik.http.routers.dashboard.rule=Host(`dashboard.docker.localhost`)"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.tls=true"

      # Basic‑auth middleware
      - "traefik.http.middlewares.ip-allowlist.ipallowlist.sourceRange=172.18.0.1"
      - "traefik.http.routers.dashboard.middlewares=ip-allowlist,dashboard-auth@docker"

volumes:
  acme:

networks:
  proxy:
    name: proxy