global:
  sendAnonymousUsage: false
log:
  level: DEBUG
api:
  dashboard: true
  insecure: false
entryPoints:
  web:
    address: :80
    http:
      redirections:
        entrypoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: :443
    http:
      tls: true
providers:
  docker:
    exposedbydefault: false
    network: proxy
accesslog: true
metrics:
  prometheus: true
certificatesResolvers:
  letsencrypt:
    acme:
      email: admin@abus.sh
      storage: /etc/traefik/acme.json
      httpChallenge:
        entryPoint: web
